:root{
    --main-text-color: #000000;
    --text-white-color: #FFFFFF;
    --main-link-bgcolor: #00BAFC;
    --second-font-weight: 700;
    --main-font-size: 16px;
    --heading-font-size: 20px;
    --footer-bg-color: #191919;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/open-sans-v29-latin-regular.woff2") format("woff2"), 
         url("../fonts/open-sans-v29-latin-regular.woff") format("woff"); 
}
  @font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/open-sans-v29-latin-700.woff2") format("woff2"),
         url("../fonts/open-sans-v29-latin-700.woff") format("woff"); 
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: var(--main-font-size);
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

p {
    margin: 0;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

/* site header begin */
.site-header{
    position: fixed;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.header-box{
    display: flex;
    align-items: center;
}

.site-logo-link:hover{
    opacity: 0.8;
}

.site-logo-link:active{
    opacity: 0.4;
}

.site-logo{
    width: 58px;
    height: 20px;
    display: block;
}

.site-navigation{
    margin-left: auto;
}

.nav-list{
    display: flex;
}

.nav-item:nth-child(6){
    margin-right: 8px;
}

.nav-item:nth-child(1){
    width: 114px;
}

.nav-link{
    padding: 16px;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    border-bottom: 3px solid transparent;
}

.nav-link:hover{
    border-bottom: 3px solid #191919;
}

.nav-link:active{
    color: #fff;
    background-color: #191919b3;
    border-color: transparent;
}

.main-link{
    padding: 8px 16px;
    font-weight: var(--second-font-weight);
    font-size: var(--main-font-size);
    line-height: 24px;
    color: #FFFFFF;
    background-color: var(--main-link-bgcolor);
    border-radius: 5px;
}

.main-link:hover{
    color: var(--text-white-color);
    background: #00bafccc;
}

.main-link:active{
    background: #00bafc99;;
}

.nav-tel-link{
    padding: 5px 12px;
    font-size: 15px;
    line-height: 24px;
    color: var(--text-white-color);
    background-color: var(--main-link-bgcolor);
    border: 3px solid transparent;
    border-radius: 5px;
}

.nav-tel-link:hover{
    color: var(--main-link-bgcolor);
    background-color: #fff;
    border: 3px solid var(--main-link-bgcolor);
}

.nav-tel-link:active{
    color: var(--text-white-color);
    background-color: #00bafc99;
    border-color: transparent;
}
/* site header end */



/* site main begin */  

/* hero section begin */
.hero{
    padding: 80px 0;
    padding-top: 136px;
}

.hero-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-info-box{
    width: 470px;
}

/* titles' main styles */
.main-heading{
    margin: 0;
    font-weight: var(--second-font-weight);
    line-height: 130%;
    color: var(--main-text-color);
}
/* titles' main styles */

.hero-title{
    font-size: 30px;
    margin-bottom: 16px;
}

/* texts' main styles */
.main-text{
    margin: 0;
    font-size: var(--main-font-size);
    line-height: 24px;
    color: var(--main-text-color);
}
/* texts' main styles */

.hero-text{
    margin-bottom: 16px;
}

.hero-iframe{
    border: none;
    border-radius: 5px;
}
/* hero section end */


/* services section begin */  
.services{
    padding: 56px 0;
}

.services-info-box{
    width: 719px;
    margin: 0 auto;
    text-align: center;
}

.services-title{
    margin-bottom: 16px;
    font-size: 24px;
    text-align: center;
}

.services-text{
    margin-bottom: 24px;
    text-align: center;
}

.services-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services-item{
    width: 320px;
    margin-bottom: 48px;
    padding: 24px 58px;
    box-shadow: 0px 8px 8px #0000001a;
    border-radius: 5px;
    text-align: center;
}

.services-item::before{
    width: 203px;
    height: 130px;
    display: block;
    margin-bottom: 16px;
    content: "";
    background-image: url("../images/website-illustration.svg");
    background-size: contain;
}

.services-item:nth-child(1){
    margin-right: 70px;    
}

.services-item:nth-child(2){
    margin-right: 70px;
}

.services-item:nth-child(2):before{
    width: 222px;
    background-image: url("../images/bot-illustration.svg");
}

.services-item:nth-child(3):before{
    width: 177px;
    background-image: url("../images/smm-illustration.svg");
}

.services-item:nth-child(4){
    margin-right: 70px;
    margin-bottom: 40px;
}

.services-item:nth-child(4):before{
    width: 179px;
    background-image: url("../images/design-illustration.svg");
}

.services-item:nth-child(5){
    margin-bottom: 40px;
}

.services-item:nth-child(5):before{
    width: 179px;
    background-image: url("../images/crm-illustration.svg");
}

.services-item:hover{
    box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}

.services-item:active{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.services-heading{
    margin-bottom: 16px;
    font-size: 20px;
}

.services-desc{
    color: var(--main-text-color);
}

.services-bottom-box{
    width: 378px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.services-link{
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: var(--main-link-bgcolor);
}
/* services section end */    


/* work section begin */  
.work{
    padding: 56px 0;
}

.work-list{
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.work-item{
    width: 832px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 48px;
}

.work-item::before{
    width: 300px;
    height: 278px;
    content: "";
    background-image: url("../images/demand-illlustration.svg");
    background-size: contain;
}

.work-item:nth-child(even){
    flex-direction: row-reverse;
}

.work-item:nth-child(2)::before{
    height: 225px;
    background-image: url("../images/solution-illlustration.svg");
}

.work-item:nth-child(3)::before{
    height: 259px;
    background-image: url("../images/time-illustration.svg");
}

.work-item:nth-child(4)::before{
    height: 171px;
    background-image: url("../images/quality-illustration.svg");
}

.work-item:nth-child(5)::before{
    height: 232px;
    background-image: url("../images/support-illustration.svg");
}

.work-item-box{
    width: 500px;
    text-align: left;
}

.work-item-title{
    margin-bottom: 8px;
    font-size: 20px;
}

.work-link-box{
    width: 167px;
    margin: 0 auto;
}
/* work section end */  

/* order section begin */ 
.order{
    padding-top: 56px;
    padding-bottom: 64px;
    background-color: var(--main-link-bgcolor);
}

.order-title{
    color: var(--text-white-color);
}

.order-text{
    line-height: 150%;
    color: var(--text-white-color);
}

.order-form{
    width: 348px;
    margin: 0 auto;
    padding: 24px;
    background-color: var(--text-white-color);
    border-radius: 5px;
    text-align: center;
}

.order-input{
    width: 300px;
    margin-bottom: 16px;
    padding: 16px 0px 16px 16px;
    font-size: 16px;
    line-height: 150%;
    color: var(--main-text-color);
    background-color: #F3F3F3;
    border: none;
    border-radius: 5px;
}

.order-input::placeholder{
    font-size: 16px;
    line-height: 150%;
    color: var(--main-text-color);
}

.order-select{
    padding-left: 14px;
}

.order-btn{
    border: none;
}
/* order section end */ 

/* site main end */  


/* site footer begin */

.site-footer{
    padding: 56px 0;
    background-color: #191919;
}

.footer-box{
    display: flex;
}

.footer-info-box{
    width: 320px;
    margin-right: 100px;
}

.footer-strong{
    display: inline-block;
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 130%;
    color: var(--text-white-color);
}

.footer-text{
    line-height: 150%;
    color: var(--text-white-color);
}

.footer-list-box{
    margin-right: 87px;
}

.footer-item{
    margin-bottom: 8px;
}

.footer-item:nth-child(6){
    margin-bottom: 0;
}

.instagram-item{
    margin-bottom: 0;
}

.footer-link{
    color: var(--text-white-color);
}

.footer-link:hover{
    color: var(--main-link-bgcolor);
}

.footer-link:active{
    opacity: 0.6;
}

.social-link{
    display: flex;
}

.social-link::before{
    width: 22px;
    height: 24px;
    margin-right: 8px;
    content: "";
    background-image: url("../images/telegram.svg");
}

.facebook::before{
    background-image: url("../images/facebook.svg");
}

.instagram::before{
    background-image: url("../images/instagram.svg");
}
/* site footer end */